/*========== font ====================*/

/*==========end font =====================*/
/*===== ======== main  ===================*/

* {
    box-sizing: border-box;
}
.buttonlink{
    height: 2em;
    background: #ecebeb;
    font-weight: 900;
    white-space: nowrap;
}
.buttonlink:hover{
    border: 1px solid;
    border-color: #666 #aaa #bbb #888;
    color:#000;
}
.hdr{
    box-shadow: 0 0 2px;
    padding: 2vh;
    margin: 2vh auto;
}
.mainitem{
    box-shadow: 0px 1px 2px;
    padding: 2vh;
}
.total{
    width: 70%;
    margin: 0 auto;
}
input[type=text]{
    color: #ac9999;
    width: 80%;
    box-shadow: 0 0 5px;
}
input[type=text]:focus{
    color: forestgreen;
}

input[type=checkbox]{
    width: 10%;
    box-shadow: 0 0 1px;
}
input[type=checkbox]:checked{
    box-shadow: 0 0 5px;
}
input[type=checkbox]:checked+ label{
    color: #d9d9d9;
    text-decoration: line-through;}
.btn{
    width:10%;
    box-shadow: 0 0 3px;
    margin-left: 5%;
}
label{

}
footer{
    height: 38px;
    text-align: center;
    box-shadow: 0px 0px 5px;
    margin: 17px auto;
    padding: 5px 35px;
    position: relative;
}
footer *{
    box-shadow: 0 0 2px;
    padding:2px;
}
#todo-count {
    float: left;
    text-align: left;
    background: #e4f8dc;
    color: #5f8a67;
}
#filters {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    left: 0;
    box-shadow: 0 0 0 !important;
}
#filters div{
    padding: 2px 10px;
    display: inline-block;
    cursor: pointer;
}
#clear-completed{
    float: right;
    cursor: pointer;
    position: absolute;
    right: 16px;
}
/*========== end main ====================*/
/* ===== ==media screen     ==============*/
@media screen and (max-width: 450px) {
    footer{
        height:80px;
    }
    #filters {
        bottom:10px;
    }
}
@media screen and (min-width: 451px) and (max-width: 768px) {
    footer{
        height:80px;
    }
    #filters {
        bottom:10px;
    }

}

@media screen and (min-width: 769px)and (max-width:992px ) {

}
@media screen and (min-width: 993px) {

}
/* end media screen     ===================*/
